div.PriceHero {
    width: 97%;
    height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    overflow: hidden;
    background-image: url("PricingHero.jpg");
    background-position: 0 40%;
    border-radius: 0px;
    background-size: cover;
  }