div.RecipeHero {
    width: 97%;
    height: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
    overflow: hidden;
    background-image: url(Test1.jpg);
    background-position: 20% 70%;
    border-radius: 0px;
    background-size: 110%;
    filter: brightness(80%);
  }

.ingredients {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    width: 40%;
    float: left;
  }

.container {
    background-color: rgba(95, 1, 37, 0.75);
    border-radius: 25px;
    color: white;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.75);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.recipe {
    float: right;
    margin-top: 5px;
    line-height: 1.6;
    text-align: center;
    padding: 10px;
    width: 60%;
  }

.ingredients ul li, .recipe ol li{
    display: list-item;
    text-align: left;
    font-size: 14px;
}

ol li{
    list-style-type: decimal;
    margin: 9px;
    line-height: 1.2;
}

.notes li {
    list-style-type: circle;
}

.subtitle {
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 22px;
    font-style: bold;
  }

.subsub {
    text-shadow: 3px 3px 3px black;
    font-size: 18px;
}